
@{
    ViewBag.Title = "Shoe_Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body id="fonts-family">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="font-family:'Times New Roman', Times, serif; color:rgb(0,51,255);"><u>Kiến thức cơ bản cần biết khi chăm sóc giày da nam</u></h3>
                    Giày chính là điểm chú ý đầu tiên khi người khác nhìn vào bộ trang phục bạn khoác trên người, và nói không ngoa khi gọi nó là tuyên ngôn cho sự đẳng cấp của một quý ông. Một đôi giày đẹp và chất lượng tốt sẽ cho người nhìn hiểu được gu thời trang của họ như thế nào, đồng thời gợi mở thấy được một phần tính cách của người mang nó.

                    Giày da là thứ vật phẩm đặc biệt, nó không phải là thứ xu hướng tạm bợ trong thời trang mà đó là tuyên ngôn của quý ông qua thời gian, sự biến đổi màu sắc của da theo năm tháng là thứ làm nên sự quyến rũ.Và thứ tuyên ngôn này dễ dàng trở thành con dao hai lưỡi, hủy hoại bộ trang phục nếu người chủ không chăm sóc và giữ gìn chúng tật sạch sẽ.

                    Đầu tư thật nghiêm túc vào lúc đầu và phải trang bị kiến thức cơ bản để bảo quản đôi giày của bạn theo năm tháng. Từ việc vệ sinh đến đánh bóng, cần sự tỉ mỉ và niềm yêu thích gói ghém trong những phút giây chăm sóc cho đôi giày, khi đó bạn cũng sẽ ngẫu nhiên trở thành một quý ông thời trang thực sự.
                </div>
                <div class="col-md-6" style="border-left:rgb(0,0,0); border-left:1px solid;">
                    <img src="~/Content/Image/imageChamsoc3.jpg"  title="Chăm sóc giày" id="image-home" />
                </div>
                <div class="col-md-12">
                    <h5>Bước 1:Lau chùi</h5>
                    <p>Đầu tiên đặt đôi giày dính bụi đất lên một tờ báo, giấy hoặc bất cứ thứ gì để hứng bụi. Dùng miếng xốp chuyên dụng lau giày (shoes sponge), thấm chút nước và chà nhẹ khắp phần da để vệ sinh sơ qua bụi đất.</p>
                    <img src="~/Content/Image/imageChamsoc.jpg" title="Chăm sóc giày" id="image-step" />
                    <h5>Bước 2: Sản phẩm chăm sóc da</h5>
                    <p>Bước tiếp theo, dùng một ít dung dịch chăm sóc da thấm vào khăn mềm (cotton hoặc linen) và lau đều phần da trên giày. Giúp hạn chế tình trang khô cứng sau một thời gian dài sử dụng.</p>
                    <img src="~/Content/Image/imageChamsoc1.jpg" title="Chăm sóc giày" id="image-step" />
                    <h5>Bước 3:Đánh bóng</h5>
                    <p>
                        Điều cơ bản tuyệt đối phải nhớ, chọn xi đánh giày có màu trùng với giày, nâu và đen là những màu sắc phổ dụng nhất. Ngoài ra cũng có xi không màu, dùng được cho mọi loại màu sắc trên giày
                        Dùng 2 ngón tay bọc giẻ sạch và lấy một lượng nhỏ vừa đủ để thoa đều trên giày. Đánh xoay nhẹ theo hình tròn, lưu ý đánh đều trên khắp bề mặt giày. Nhúng một chút nước trên giẻ sẽ giúp tăng độ sáng bóng.

                        Sau khi đã thoa đều, dùng bàn chải đánh giày. Nếu là một người kỹ tính và mong muốn mọi điều tốt nhất cho đôi giày cưng thì nên chọn loại bàn chải lông ngựa có chất lượng cao. Đánh với lực vừa phải nhưng đều và kỹ giúp màu da trở sáng bóng tự nhiên.
                    </p>
                    <img src="~/Content/Image/imageChamsoc2.jpg" title="Chăm sóc giày" id="image-step" />
                </div>
            </div>
        </div>
        </body>
